# dependencies
/node_modules
/.pnp
.pnp.js
package.json
package-lock.json
npm-debug.log*

# testing
/coverage

# next.js
.next
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
manifest.json
.eslintrc.json

# local env files
.env*

# vercel
.vercel

# changelog
CHANGELOG.md
